html {
    font-size: 16px;
}

@media screen and (max-width: 850px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 5px;
    }
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 1rem 2rem;
}

header h1 {
    font-size: 5rem;
    font-weight: 800;
}

.sources.buttons {
    height: 15rem;
    font-size: 3rem;
}

.sources.buttons::-webkit-scrollbar {
    width: 0;
    height: 1rem;
}

.sources.buttons::-webkit-scrollbar-track {
    border-radius: 3rem;
    background-color: rgb(52, 52, 52);
}

.sources.buttons::-webkit-scrollbar-thumb {
    width: 6rem;
    border-radius: 3rem;
    background-color: darkgrey;
}

.source__item {
    margin: 0.1rem 0.5rem;
    padding: 1rem 2rem;
}

.news__item {
    max-width: 90vw;
    height: 20rem;
    margin: 2rem auto;
}

.news__item .news__description {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.news__item .news__description h2 {
    font-size: 2rem;
}

.news__item .news__description h3 {
    display: none;
}

.news__item p:first-of-type {
    max-width: 50vw;
    font-size: 1.5rem;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news__item p:first-of-type::before {
    height: 0.3rem;
    width: 20rem;
}

.news__item .news__description .news__read-more a {
    font-size: 2rem;
}

footer {
    height: 10rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.rsschool-logo {
    width: 12rem;
    height: 4rem;
    filter: invert(70%);
}

.github-logo {
    width: 4rem;
    height: 4rem;
    filter: invert(70%);
}

footer .copyright {
    font-size: 3rem;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}