.button-element {
  width: max-content;
  height: max-content;
  padding: 7px;
  background: none;
  border: none;
  border-radius: 5px;
  border: 2px solid green;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background: green;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: all 0.4s;
}

.button-element:not(:disabled) {
  cursor: pointer;
}

.button-element:not(:disabled):hover {
  background: darkgreen;
}

.button-element:disabled {
  background: none;
  color: gray;
  border-color: gray;
}

.button-background-none {
  background: none;
  color: green;
}