* {
  margin: 0;
  padding: 0;
}

.body {
  height: max-content;
  width: 100vw;
  scroll-behavior: smooth;
  user-select: none;
}

.header,
.footer 
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vw;
  background: #3f798d;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e5e8ef;
}

.footer {
  border-top: 1px solid #e5e8ef;
}

.navigation__ul {
  padding: 0 5px;
}

.navigation__li {
  float: left;
  list-style-type: none;
  padding: 5px 20px;
  line-height: 5vw;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background: #3c657b;
  }
}

.navigation__a {
  display: block;
  color: #e5e8ef;
  text-decoration: none;
  font-size: 2.5vw;
}

.main {
  height: max-content;
  background: url(https://images.unsplash.com/photo-1548266652-99cf27701ced?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80) no-repeat center;
  background-size: cover;
}

.wrapper {
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.frame {
  width: 95%;
  height: max-content;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: #3f798d;
}

.frame__button {
  width: 20vw;
  height: 5vw;
  border: none;
  background: #a2aeb5;
  cursor: pointer;
  font-size: 2vw;
}