@charset "UTF-8";
@import url(./heading.css);
.wrapper {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

.frame {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  margin: 2% 0;
  padding: 2%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 20px;
}

.frame__questions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  border-radius: 2px;
  background-color: #e5e8ef;
  overflow: hidden;
}
.frame__questions .li_toolbar {
  padding: 0 1vw;
  font-size: 2.5vw;
  border: none;
}
.frame__questions .li_toolbar.active {
  background-color: #3c657b;
}

.frame__question {
  max-height: 20.8333333333vw;
  min-width: 100%;
}
.frame__question .question_wrapper {
  max-height: inherit;
  display: flex;
  flex-flow: row wrap;
  gap: 1%;
  background: #e5e8ef;
  border: 2px black solid;
  overflow: hidden;
}
.frame__question .question_wrapper div {
  padding: 1%;
  display: flex;
  flex-flow: column wrap;
  gap: 2.5%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.frame__question .question_wrapper div h2 {
  font-size: 5vw;
}
.frame__question .question_wrapper div audio {
  width: 60vw;
  height: 20%;
}
.frame__question .question_wrapper div button {
  align-self: flex-end;
  width: 15.625vw;
  height: 4.1666666667vw;
  font-size: 2vw;
  background-color: #d7dae0;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.frame__question .question_wrapper img {
  width: 25.9375vw;
  max-height: 50vw;
}

.frame__answers {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #e5e8ef;
  padding-top: 0;
}
.frame__answers ul {
  text-align: center;
  list-style-type: none;
  width: 100%;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  padding-top: 0;
}
.frame__answers li {
  font-size: 4vw;
  padding: 2vw;
  background-color: #d7dae0;
  border: 2px solid #000000;
  border-top: none;
}
.frame__answers li a {
  position: relative;
  text-align: center;
}
.frame__answers li a::before {
  position: absolute;
  align-self: center;
  top: -0.8333333333vw;
  left: -2.7777777778vw;
  display: list-item;
  content: "⚬";
  color: black;
}
.frame__answers li a.red::before {
  color: red;
}
.frame__answers li a.green::before {
  color: green;
}
.frame__answers li:first-child {
  border-top: 2px solid #000000;
}

.desciption_wrapper {
  padding: 2vw 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #e5e8ef;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: 20px;
  border: 2px solid #000000;
}
.desciption_wrapper p {
  width: 90%;
  font-size: 2vw;
}
.desciption_wrapper div {
  display: flex;
  gap: 20px;
}
.desciption_wrapper div img {
  max-width: 25.78125vw;
}
.desciption_wrapper div div {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  gap: 3%;
}
.desciption_wrapper div div h2 {
  font-size: 5vw;
}
.desciption_wrapper div div p {
  font-size: 2.5vw;
}
.desciption_wrapper div div audio {
  width: 40vw;
  height: 40%;
}/*# sourceMappingURL=index.css.map */