body,
html {
    font: 16px/1.4 Georgia, serif;
    background: url(https://images.unsplash.com/photo-1539622106114-e0df812097e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

p, a {
    font-size: 2rem;
}

.page {
    max-width: 600px;
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
    user-select: none;
    background: #2E8B57;
    border-radius: 2rem;
}

.fifteen {
    width: 100%;
    padding-bottom: 100%;
    background: #9FE2BF;
    border-radius: 0.2rem;
    position: relative;
    margin-bottom: 1rem;
}

.item {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: #004524;
    color: #D0F0C0;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    box-shadow: inset 1px 1px #e5d6f6;
    transition: transform 0.2s, filter 0.5s;
}

.item-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84%;
    height: 84%;
    margin: 8%;
    box-shadow: inset 0 0 0 2px white;
    border-radius: 0.2rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.button {
    display: flex;
    color: black;
    background: #ADDFAD;
    font: 2rem/1.4 Georgia, serif;
    border: none;
    border: 1px solid #3CB371;
    border-radius: 0.3em;
    cursor: pointer;
    padding: 0.5em 0.45em;
    position: relative;
}

.button.btn {
    transition: transform 0.15s, background 0.3s;
    transform-style: preserve-3d;
}

.button.btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #D0F0C0;
    border: 1px solid #3CB371;
    border-radius: inherit;
    transform: translate3d(-0.1em, -0.2em, -1em);
    transition: transform 0.15s, background 0.3s;
}

.button.btn:hover {
    background: #D0F0C0;
    transform: translate(0, 0);
}

.button.btn:hover::before {
    background: #2C5545;
}

.button.btn:active {
    background: #ADDFAD;
    transform: translate(0em, 0.5em);
}

.button.btn:active::before {
    transform: translate3d(-0.46em, -0.5em, -0.1em);
}

.btn-img {
    width: 45px;
    height: 45px;
}

@media(max-width: 750px) {
    .btn-img {
        width: 28px;
        height: 28px;
    }
}

.size-container {
    position: relative;
    left: -5%;
    width: 110%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.size {
    color: #123524;
    cursor: pointer;
}

.t-s-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.time-container, .score-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.won-container {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgb(128, 83, 152);
    border: 2px solid black;
}

.won-text {
    color: white;
}

.hooray {
    color: aqua;
}

@media (max-width: 750px) {
    .item {
        font-size: 1.5rem;
    }
    .button {
        font: 1.3rem/1.4 Georgia, serif;
    }
    .button-container {
        gap: 0.9rem;
    }
    .size-container {
        gap: 0.3rem;
    }
    .t-s-container {
        gap: 1rem;
    }
}

@media(max-width: 472px) {
    #shuffle::before {
        width: 90%;
    }
}

@media (max-width: 450px) {
    p, a {
        font-size: 1.2rem;
    }
    #shuffle::before {
        width: 90%;
    }
    .button {
        padding: 0.5em 0.05em;
    }
    .button-container {
        gap: 0.1rem;
    }
    .button.btn::before {
        display: none;
    }
}

.game-start {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: black;
}

.game-start-text {
    font-size: 3rem;
    color: white;
}

@media(max-width: 350px) {
    .item {
        font-size: 1rem;
    }
    .game-start-text {
        font-size: 2rem;
    }
}

.button.disabled {
    background: #b9b7b7;
    color: black;
    border: 1px solid #b9b7b7;
}

.button.disabled::before {
    display: none;
}

.button.disabled:hover {
    background: #b9b7b7;
}

.button.disabled:active {
    transform: translate(0, 0);
}

.button.disabled::before:active {
    transform: translate3d(0, 0, 0);
}