.overall-block {
  width: 100%;
  height: 110px;
  align-items: flex-start;
  justify-content: space-between;
}

.bottom-block {
  position: relative;
  height: 50px;
  width: calc(100vw - 40px);
  border-bottom: 2px dotted #fff;
}

.second-block {
  position: absolute;
  top: 0;
  left: 0;
  gap: 10px;
}

.car {
  position: absolute;
  left: 80px;
  bottom: 0;
}

/* @keyframes animate {
  from {left: 80px;}
  to {left: calc(100vw - 200px);}
} */

.flag {
  position: absolute;
  bottom: 0;
  right: 60px;
  height: 40px;
  width: 40px;
  background: url(https://www.pngkey.com/png/full/233-2333785_black-flag-icon-red-flag-icon-png.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.car-name {
  font-size: 20px;
  color: rgb(186, 186, 36);
  text-transform: capitalize;
}