.table {
  width: 100%;
  height: max-content;
  border: 2px solid #fff;
  border-collapse: collapse;
}

.tr-headers th {
  padding: 10px;
  border: 1px solid #fff;
  font-size: 20px;
  color: black;
  background: lightblue;
}

.tr-lines td {
  position: relative;
  height: 40px;
  padding: 7px;
  border: 1px solid #fff;
  font-size: 18px;
  color: aliceblue;
  text-align: center;
}

.tr-lines td .car {
  position: absolute;
  left: 0;
  right: 0;
}